/* Button.module.scss */
@import "../../styles/abstracts";

$primary-color: green;

.button {
  background-color: $primary-color;
  color: white;
  padding: 10px;


}

.white .button {
  background-color: white;
  color: black;
  padding: 10px;
}

.test {
  background-color: $primary-color;
  color: white;
  padding: 10px;
}

.primary {
  background-color: blue;
}

.secondary {
  background-color: red;
}


body {
  background-color: $primary-color;
}